<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <!-- bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


        <!-- fontawsome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <title>TransactionHistory</title>
</head>
<body>


  <!-- Navbar -->

  <nav id="nav" class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid  d-flex justify-content-between">
            <a class="navbar-brand" href="/service">Prime-Banking</a>
              

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        

                <form class="flex-end collapse navbar-collapse" id="navbarNav">
                  <ul id="nav_buttons" class="navbar-nav mt-md-3 mb-2 mb-lg-0">
                  <a id="login_btn" class="btn btn-outline-secondary me-2" 
                  type="button"   href="/service">
                  <i class="fa-solid fa-arrow-left-long"></i>
                </a>
                  <a type="submit" form="#create_account_form" id="account_btn" class="btn btn-outline-secondary me-2" 
                  type="button"   href="#create_account">
                  <i class="fa-solid fa-arrow-right-long"></i>
                </a>
                    
                  </ul>
                  
                </form>
              
          </div>
        </nav>


    <div class="contaioner" id="section_maring">


       <div class="transactionList d-flex flex-column">

<h2 class="text-center mb-5 mt-5">Transaction History</h2>

<table class="text-center table table-hover table-striped table-borderless transaction__history__table mt-3">
    <thead>
        <tr class="">
            <th scope="col">Sr.No</th>
            <th>
              Account
            </th>
            <th>
              Date
            </th>
            <th>
                Ammount
            </th>
        </tr>
    </thead>

    <tbody>

        {{#each transactions}}
        <tr class="">
            <th scope="row">{{@index}}</th>
            {{#if to}}
            <td>
                To: {{this.to}}
            </td>
            {{else}}
            <td>
                From: {{this.from}}
            </td>
            {{/if}}


            <td>{{this.date}}</td>

            {{#if to}}
            <td class="text-danger">
                -{{this.ammount}}
            </td>
            {{else}}
            <td class="text-success">
                +{{this.ammount}}
            </td>
            {{/if}}
        </tr>
        {{/each}}

        
    </tbody>
</table>



       </div>

    </div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h5 class="modal-title text-center" id="exampleModalLabel">Enter 5 Digits OTP</h5>
        </div>
        <div class="modal-body text-center">
            <form action="/verify-otp" method="POST">
                <input class="pt-1 pb-1 ps-3 pe-3 border-2 rounded" type="text rounded"
                       inputmode="numeric"
                       autocomplete="one-time-code"
                       pattern="\d{6}"
                       required>
              </form>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn dark_btn btn-primary text-start">Transact</button>
        </div>
      </div>
    </div>
  </div>
  

    <!-- footer -->
    
    <div id="footer" class="footer">
 <div id="footer__item">
    <li>
        © Copyright Prime-Banking Ltd.
    </li>
    <li>
        <a href="">Terms & Conditions</a>
    </li>
    <li>
        <a href="">Privacy Policy</a>
    
    </li>
 </div>
    </div>
    

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>